@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Vujahday+Script&display=swap");

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body { 
  font-family: "Poppins", sans-serif;
  background-color:#5865F2;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  width: 100%;
  height: calc(100vh - 102px);
}

.content-title {
  margin: 0 20px;
  text-align: center;
  font-weight: 600;
  text-shadow: black 0px 0px 6px;
  color: rgb(235, 235, 235);
}

.list li {
  list-style-position: inside;
  margin: 20px 26px 0;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-shadow: black 0px 0px 2px;
  color: rgb(235, 235, 235);
}

.server-link {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: black 0px 0px 5px;
  padding: 10px 20px;
  margin: 50px 20px;
  color: rgb(235, 235, 235);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/*----------------------- Footer ----------------------- */
footer {
  bottom: 0;
  left: 0;
  background-color: #1b1b1b;
  color: whitesmoke;
  text-shadow: black 0px 0px 10px;
  letter-spacing: 1px;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  padding-top: 20px;
}

footer a:last-of-type {
  margin-left: 3rem;
}

footer p {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  margin-bottom: 0;
}

.fa-linkedin,
.fa-github {
  color: whitesmoke;
}

.fa-github:hover, .fa-linkedin:hover {
  color: #a1a1a1;
  opacity: 0.6;
}


/*----------------------- Media queries ----------------------- */
@media screen and (max-width: 554px) {
  .main-container {
    height: calc(100vh - 129px);
  }
}

@media screen and (max-width: 305px) {
  .main-container {
    height: calc(100vh - 156px);
  }
}